asgiref==3.7.2
distlib==0.3.8
dj-database-url==2.3.0
Django==4.2.4
django-recaptcha==4.0.0
experta==1.9.4
filelock==3.14.0
frozendict
gunicorn==23.0.0
numpy==2.2.6
packaging==25.0
paquete==0.2
platformdirs==4.2.1
psycopg2-binary==2.9.7
python-decouple==3.8
schema==0.6.7
sqlparse==0.4.4
typing_extensions==4.13.2
tzdata==2023.3
virtualenv==20.26.1
whitenoise==6.9.0
